		
	
		<h1>Angular Framework</h1>
		<h5>All CRUD operations available</h5>


		<p>try fernandoybus2, test</p>

		 <form novalidate>
		    Username:<br>
		    <input type="text" ng-model="username" value="fernandoybus2"><br>
		    Password:<br>
		    <input type="password" ng-model="password" value="test">
		    <br><br>
		    <button ng-click="dologin()">Login</button>
		  </form>
		 <br>
		 <p ng-model="message">{{message}}</p>

		 <br>
		 <button type='button' class='btn btn-default recoverpassword' style="display:block;" ng-click="recoverpassword()">Recover Password</button>
		 <br>
		<button type='button' class='btn btn-default register' style="display:block;" ng-click="register()">Register new user</button>

		<br>
		<br>




