		
	
		<h1>Angular Framework</h1>
		<h5>All CRUD operations available</h5>



		<table class='table table-striped' style="display:none;" >

			<th>User</th><th>Order</th><th>Items</th><th>View</th><th>Edit</th><th>Delete</th>

			<tr ng-repeat="x in mytable">
			  <td>
			    {{ x.user }}
			  </td>
			  <td>
			    {{ x.ordername }}
			  </td>
			  <td>
			    {{ x.items }}
			  </td>

			  <td>
			    <div ng-if="x.image"><img ng-src="/home/fernando/angular/fileUpload/{{ x.image }}" style="max-width:60px;max-height=60px;"/></div>
			  </td>
			   <td>
			   <!--  <button ng-click='vieworder(x.id)' type="button" class="btn btn-primary viewitem" id="{{x.id}}">View</button> -->
			       <a class="btn btn-primary viewitem" href="#/view/{{x.id}}">View</a>
			  </td>
			  <td>
			    <a class="btn btn-warning viewitem" href="#/edit/{{x.id}}">Edit</a>
			  </td>
			  	<td>
			     <button ng-click='deleteorder(x.id)' type="button" class="btn btn-danger deleteitem" id="{{x.id}}">Delete</button>
			  </td>
			</tr>
		</table>

		<br>
		

		<br>

		 <form novalidate class="form_new_order">
		    Order:<br>
		    <input type="text" ng-model="order"><br>
		    <br>
		    <div class="form-group" data-ng-repeat="choice in choices">
			  <label for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
			  
			  <input type="text" ng-model="choice.name" name="" placeholder="Add item">
			  <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add another item</button>
			</div>
			<br>
			<input type="file" file-model="myFile"/>
			<br>
		    <button class="btn btn-primary viewitem" ng-click="neworder()">New Order</button>
		  </form>


		<br>
		<br>
		<a class="btn btn-primary createneworder hidden" href="#/neworder/">Create New Order</a>
		<a class="btn btn-primary viewitem" href="#/orders">Go back</a>




		




