		
	
		<h1>Angular Framework</h1>
		<h5>All CRUD operations available</h5>
		
		<br>
		<h5>NEW USER REGISTRATION</h5>




		 <form novalidate>
		    Username:<br>
		    <input type="text" ng-model="newusername" value="fernandoybus2"><br>
		    Password:<br>
		    <input type="password" ng-model="newpassword" value="test"><br>
		    Email:<br>
		    <input type="email" ng-model="newemail" value="test">
		    <br><br>
		    <button ng-click="doregister()">Register new user</button>
		  </form>
		 <br>
		 <p ng-model="message">{{message}}</p>

		 <br>
		<button type='button' class='btn btn-default login' style="display:block;" ng-click="login()">Back to Login</button>
		 <br>
		<button type='button' class='btn btn-default register' style="display:block;" ng-click="register()">Register new user</button>

		<br>
		<br>




